@page "/"


<MudCarousel Class="mud-width-full mb-6" Style="height:600px; border-radius: 5px;" ShowArrows="true" ShowBullets="true" EnableSwipeGesture="@true" AutoCycle="true" TData="object">
    <MudCarouselItem Transition="Transition.Fade" Color="Color.Primary">
        <div class="d-flex flex-column justify-center align-center" style="height:100%; background-image: url('/Media/carousel1.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">

            <MudText Class="mb-10" Typo="Typo.h3" Style="color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Allt för din hund!</MudText>
                <MudButton Class="mt-10" Variant="Variant.Filled" Color="Color.Primary" Href="/shop">Utforska våra produkter</MudButton>
           
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade" Color="Color.Primary">
        <div class="d-flex flex-column justify-center align-center" style="height:100%; background-image: url('/Media/carousel2.jpg'); background-size: cover; background-repeat: no-repeat; background-position: center;">
            <MudText Class="mb-10" Typo="Typo.h3" Style="color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Allt för en lyckad jakt!</MudText>
            <MudButton Class="mt-10" Variant="Variant.Filled" Color="Color.Primary" Href="/shop">Utforska våra produkter</MudButton>
        </div>
    </MudCarouselItem>
    <MudCarouselItem Transition="Transition.Fade" Color="Color.Primary">
        <div class="d-flex flex-column justify-center align-center" style="height:100%; background-image: url('/Media/carousel3.png'); background-size: cover; background-repeat: no-repeat; background-position: center;">

            <MudText Class="mb-10" Typo="Typo.h3" Style="color: white; text-shadow: 2px 2px 4px rgba(0,0,0,0.5);">Allt för att lyckas med dina troféer!</MudText>
            <MudButton Class="mt-10" Variant="Variant.Filled" Color="Color.Primary" Href="/shop">Utforska våra produkter</MudButton>
        </div>
    </MudCarouselItem>
</MudCarousel>

@code{

}